<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let person of lists">
      <ion-thumbnail item-start>
        <img [src]="person.photo">
      </ion-thumbnail>
      <h2>{{person.nama}}</h2>
      <p>{{person.alamat}}</p>
      <button ion-button clear item-end (click)="onDetailPage(person)">View</button>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button>  
  </ion-list>

  <button ion-button color="secondary" block (click)="onButton()">Light</button>

</ion-content>

